{
	"presets": [["@babel/env", { "useBuiltIns": "usage" }]],
	"plugins": [
		["module-resolver", {
      		"root": ["./src"]
		}],
		["@babel/plugin-syntax-object-rest-spread"],
		["@babel/plugin-syntax-dynamic-import"],
		["@babel/plugin-syntax-async-generators"],
		["@babel/plugin-transform-regenerator"],
		["@babel/plugin-proposal-class-properties"]
	]
}